/*stylesheet for component RecipePreview
Author: Zander Koch*/
@import "../../styles/formats.scss";

.recipe-preview{
    margin-bottom: 16px;
    display:grid;
    grid-template-columns: auto min-content;
    grid-template-areas: "title star-count"
                         "ingredients-header ingredients-header"
                         "ingredients ingredients"
                         "description-header description-header"
                         "description description"
                         "instruction-header instruction-header"
                         "instruction instruction"
                         "comment-header comment-header";



    header{
        h4{
            margin: 0;
        }
        h5{
            margin: 0;
        }
    }
                         
    header:nth-of-type(1){
        @include main-color-header;
            grid-area: title;
    }   
    
    
     
    span{
        @include main-color-header;
        grid-area: star-count;
        &:first-letter{
            color: gold !important;
        }
    }
    
    header:nth-of-type(2){
        grid-area: ingredients-header;
        @include no-color-header;
    }

    ul{
        grid-area: ingredients;
    }
    
    :nth-of-type(3){
        grid-area: description-header;
        @include no-color-header;
    }

    p{
        margin: 0;
        grid-area: description;
    }

    header:nth-of-type(4){
        grid-area: instruction-header;
        @include no-color-header;
    }

    ol{
        grid-area: instruction;
    }

    header:nth-of-type(5){
        grid-area: comment-header;
        @include no-color-header;
    }

    /* where the comments go */
    div{
        article{
            margin-top: 8px;
            header{
                
                h6{
                    margin: 0;
                }
            }
        }
    }
}